*{ 
    margin: 0;
    padding: 0;
    background-color: rgb(60, 177, 151);
}

ul{
    list-style: none;

}
li{
    padding: 20px;
    margin: 10;
    text-decoration: none;
    display: inline-block;
    
}
a{
    text-decoration: none;
    color: rgb(245, 245, 245)}

nav{
    border-bottom: 10px solid black;
}

@media screen and (min-width: 768px) {
    nav ul {    display: flex;
        justify-content: flex-start;}
}

li:hover {
    background-color: orangered;
    font-weight: bold;
}